:root {
    --bg-button: #f1f1f1;
    --border-button: solid 1px #777
}

.button {
    font-size: 1.4em;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
}